In [1]:
my_list=['p','r','o','b','e']
print(my_list[0])

p

In [3]:
print(my_list[2])

o

In [4]:
print(my_list[4])

e

##### Nested List

In [6]:
n_list=["Happy", [2,0,1,5]]
print(n_list[0][1])

a

In [8]:
print(n_list[1][2])

1

In [9]:
print(n_list[1][3])

5

In [10]:
print(my_list[-1])

e

In [11]:
print(my_list[-5])

p

### List Slicing

In [12]:
my_list=['p','r','o','g','r','a','m','i','z']
#element from index 2 to index 4
print(my_list[2:5])

['o', 'g', 'r']

In [13]:
print(my_list[5:])

['a', 'm', 'i', 'z']

In [14]:
print(my_list[:])

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

#### changing the item value

In [15]:
odd=[2,4,6,8]
#change 1st item
odd[0]=1
print(odd)

[1, 4, 6, 8]

In [16]:
#change 2nd to 4th items
odd[1:4]=[3,5,7]
print(odd)

[1, 3, 5, 7]

### Appending and Extending

In [18]:
odd=[1,3,5]
odd.append(7)
print(odd)

[1, 3, 5, 7]

In [19]:
odd.extend([9,11,13])
print(odd)

[1, 3, 5, 7, 9, 11, 13]

In [21]:
#Insert the item in the list to perticular index
Fruits=["apple","banana","cherry"]
Fruits.insert(1,"orange")
print(Fruits)

['apple', 'orange', 'banana', 'cherry']

### List of numbers

In [22]:
Age=[100,3,12,4,56,2,54]
print(Age)

[100, 3, 12, 4, 56, 2, 54]

In [23]:
print(max(Age))

100

In [24]:
print(min(Age))

2

In [25]:
Age.sort()
print(Age)

[2, 3, 4, 12, 54, 56, 100]

In [26]:
Age.sort(reverse=True)
print(Age)

[100, 56, 54, 12, 4, 3, 2]

In [29]:
a=sum(Age)
print(f'sum is {a}')

sum is 231

### Count

In [30]:
#Returns how many times item is repeated.
fruits=("apple", "mango", "papaya", "pineapple", "cherry", "mango",)
print(fruits.count("mango"))

2

### Extracting items from the list

In [31]:
fruits=['Apple', 'Banana', 'Grape', 'Kiwi']
print(fruits[0])

Apple

In [34]:
print(fruits[0:3])

['Apple', 'Banana', 'Grape']

In [35]:
print(fruits[:3])

['Apple', 'Banana', 'Grape']

In [36]:
print(fruits[2:])

['Grape', 'Kiwi']

In [37]:
print(fruits[-1])

Kiwi

In [38]:
print(fruits[::-1])

['Kiwi', 'Grape', 'Banana', 'Apple']

In [40]:
fruits.insert(2, 'Water melon')
print(fruits)

['Apple', 'Banana', 'Water melon', 'Water melon', 'Grape', 'Kiwi']

## List comprehension

In [1]:
#syntax: [expression for item in iterable if condition]

 list comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:
    
Based on a list of fruits, you want a new list, that startswith the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside.
- result always in list

syntax:
    
[expression for item in list]

### without list comprehension

In [3]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]

for x in fruits:
    if x.startswith("a"):
        newlist.append(x)
print(newlist)

['apple']

### with list comprehension

In [5]:
newlist1=[x for x in fruits if x.startswith("a")]
newlist1

['apple']

### list of even no.

In [7]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
number=[n for n in range(1,51)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [10]:
even_no=[x for x in range(1,51) if x%2==0]

In [11]:
print(even_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [12]:
n=[1,2,3,4,5,6,7]
n2=[x*x for x in n]

In [13]:
n2

[1, 4, 9, 16, 25, 36, 49]

### convert a string to a uppercase()

In [14]:
string="data science"
l=[]
for i in string:
    upper_chr=i.upper()
    l.append(upper_chr)
print(l)

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [15]:
string="data science"
upper=[x.upper() for x in string]
upper

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [16]:
s="data science"
a=[i for i in s]

In [17]:
a

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

### Generating a list of tuples representing pairs of numbers:

In [18]:
# output: [(1,2), (2,3), (3,4), (4,5)]

In [19]:
pairs=[(x,x+1) for x in range(1,5)]

In [20]:
pairs

[(1, 2), (2, 3), (3, 4), (4, 5)]

### Creating a list of even squares using conditional expressions:

In [21]:
numbers=[1,2,3,4,5,6]
even_squares=[x**2 for x in numbers if x%2==0]
#output: [4,16,36]

In [23]:
even_squares

[4, 16, 36]