In [1]:
thistuple=("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
thistuple=("apple", "banana", "cherry")
print(len(thistuple))

3

##### Access tuple items

In [3]:
print(thistuple[1])

banana

In [4]:
print(thistuple[-1])

cherry

##### Range of values

In [5]:
thistuple=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [6]:
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [7]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

##### Negative Range

In [8]:
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

##### Change tuple values

In [11]:
x=("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

#### Adding items

In [16]:
thistuple=("apple", "banana", "cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

#### Remove the item

In [17]:
thistuple=("apple", "banana", "cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry')

#### To delete the tuple completely

In [18]:
thistuple=("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

#### Unpacking the tuple

In [19]:
fruits=("apple", "banana", "cherry")
(green, yellow, red)=fruits
print(green)

apple

In [20]:
print(yellow)
print(red)

banana
cherry

### count

In [22]:
fruits=("apple", "banana", "cherry")
print(fruits.count("a"))

0

In [23]:
print(fruits.count("banana"))

1